@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link rel="stylesheet" href="~/css/slider.css" />
    <link rel="stylesheet" href="~/css/bodysection.css"/>
</head>
<div class="carousel-container" id="slidersection">
    <i class="fa fa-arrow-left" id="prevBtn"></i>
    <i class="fa fa-arrow-right" id="nextBtn"></i>
    <div class="carousel-slide">
            <img src="~/img/image5.jpg" id="LastSliderImg" />
            <img src="~/img/image1.jpg" />
            <img src="~/img/image2.jpg" />
            <img src="~/img/image3.jpg" />
            <img src="~/img/image4.jpg" />
            <img src="~/img/image5.jpg" />
            <img src="~/img/image1.jpg"  id="FirstSliderImg"/>
    </div>
    <div class="sliderinfo">
        <p> "Welcome! This is slider section"</p>
    </div>
</div>

<div class="MiddleSection" id="MiddleSection">
    <div class="AboutSection">
        <h2> ABOUT US</h2>
        <div id="AboutSeperator"></div>
        <p>
            Ipsum inceptos cum nunc integer convallis urna enim consequat.
            Mauris, aenean maecenas tincidunt curabitur faucibus lorem turpis turpis libero nibh elementum netus.
            Pretium ipsum class eget curabitur ornare conubia inceptos gravida enim, leo lacinia ultrices.
            Donec curabitur, montes in congue ornare sagittis eu amet elementum aenean libero.
            Mollis, tincidunt dignissim sodales. In facilisi enim cubilia lobortis adipiscing risus nunc.
            Lacus habitasse lobortis fringilla vitae pellentesque.
        </p>
    </div>

</div>



<script src="~/js/slider.js"></script>

